body{
  background-color: #FAF0E4;
  margin: 0;
  padding: 0;
}

#container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

#editor,#preview{
  padding: 15px;
  margin: 15px;
  background-color: #FAF0E4;
  width: 46vw;
  height: 86vh;
  border: 10px solid #9BCDD2;
  color: #FF8551;
  overflow: scroll;
  outline: none;
}

code{
  color: #FFDEDE;
  font-weight: bold;
  background-color: #9BCDD2;
}

textarea{
  resize: none;
}

img{
  max-width: 200px;
  height: auto
}

h1,h2,h3{
  margin:0;
  margin-bottom: 5px;
}

